// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a{
  color: #3699ff !important;
  text-decoration: none;
}
a:visited{
  color: black;
}
a:hover{
  color: #0073e9!important;
}
